/* IMPORTS */

@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Viga');
@import url('https://fonts.googleapis.com/css?family=Mountains+of+Christmas');


*{
    margin:0;
    padding:0;
    font-family: 'Anton', sans-serif;
}

body,html{
    width: 100%;
    height: 100%;
    background-color: #1c1b35;
    overflow: hidden;
}

#canvas{
    animation: shake 0.5s;
    animation-iteration-count: 7;
    width: 100%;
    height: 100%;
    background: #222048;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
}
@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}
.behind{
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 0 auto !important;
}



.behind span{
    color: white;
    font-size: 200px;
    letter-spacing:35px;
    text-align: center;
}

.next{
    position: absolute;
    transform: translateY(-1000%) translateX(-300px);
    animation-name: new-year;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes new-year {
    0%{
    transform: translateY(-1000%) rotate(90deg) translateX(-800px);
    }
    25%{
        transform: translateY(-280%) rotate(90deg) translateX(-800px);
    }
    100%{
        transform: translateY(-5%) translateX(175px);
    }

}

.snowflake {
    color: #fff;
    font-size: 1em;
    font-family: Arial;
    text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}
/* Demo Purpose Only*/
.demo {
    font-family: 'Raleway', sans-serif;
    color:#fff;
    display: block;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
}
.demo a{
    font-family: 'Raleway', sans-serif;
    color: #000;
}

.f3{
    position: absolute;
    bottom: 20%;
    left: 10%;
    width: 90px;
    animation-delay: 3s;
    height: 90px;
    animation-name: works-f3;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    transform: scale(0);
}

.f4{
    position: absolute;
    bottom: 50%;
    left: 25%;
    width: 90px;
    height: 90px;
    animation-name: works-f4;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    transform: scale(0);

}

.f2{
    position: absolute;
    bottom: 30%;
    right: 5%;
    width: 90px;
    height: 90px;
    animation-name: works-f2;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    transform: scale(0);
}

.f1{
    position: absolute;
    bottom: 50%;
    right: 10%;
    width: 90px;
    height: 90px;
    animation-name: works-f1;
    animation-delay: 3s;

    animation-fill-mode: forwards;
    animation-duration: 1s;
    transform: scale(0);
}

.f5{
    position: absolute;
    bottom: 20%;
    right: 40%;
    width: 90px;
    height: 90px;
    animation-name: works-f5;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    transform: scale(0);
}


#fireworks span{
    width: 6px;
    height: 6px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
}

#fireworks span:nth-child(1){
    transform: rotate(0deg);
}
#fireworks span:nth-child(2){
    transform: rotate(120deg);
}
#fireworks span:nth-child(3) {
    transform: rotate(240deg);
}
#fireworks span:nth-child(4) {
    transform: rotate(270deg);
}
#fireworks span:nth-child(5){
    transform: rotate(330deg);
}
#fireworks span:nth-child(7){
    transform: rotate(30deg);
}




#fireworks span:before{
    content: '';
    width: 2px;
    height:50px;
    display: block;
    background:#659157;
    position: absolute;
    top: -60px;
    left: 2px;
}
#fireworks span:after{
    content: '';
    width: 2px;
    height: 50px;
    display: block;
    background: #A1C084;
    position: absolute;
    bottom: -60px;
    left: 2px;
}


.f1 span:before{
    background:#E26D5A !important;
}

.f1 span:after{
    background: #92374D !important;
}

.f2 span:before{
    background: #62929E !important;
}

.f2 span:after{
    background: #4A6D7C !important;
}

.f3 span:before{
    background:#DAFF7D !important;
}

.f3 span:after{
    background: #B2EF9B !important;
}

.f4 span:before{
    background: #7E3F8F !important;
}

.f4 span:after{
    background: #81559B !important;
}

.f5 span:before{
    background: #F2F5EA !important;
}

.f5 span:after{
    background: #D6DBD2 !important;
}

@keyframes works-f1{
   from{
       transform: scale(0);
       top: 100%;
   }
    to{
        transform: scale(1);
        top: 25%;
    }
}


@keyframes works-f2{
    from{
        transform: scale(0);
        top: 100%;
    }
    to{
        transform: scale(1);
        top: 50%;
    }
}

@keyframes works-f3{
    from{
        transform: scale(0);
        top: 100%;
    }
    to{
        transform: scale(1);
        top: 10%;
    }
}


@keyframes works-f4{
    from{
        transform: scale(0);
        top: 100%;
    }
    to{
        transform: scale(1);
        top: 35%;
    }
}

@keyframes works-f5{
    from{
        transform: scale(0);
        top: 100%;
    }
    to{
        transform: scale(1);
        top: 17%;
    }
}

.shine, .chrome {
    font-size: 250px;
    margin: 0 auto;
}

.shine {
    background: #DAA520 -webkit-gradient(linear, left top, right top, from(#DAA520), to(#DAA520), color-stop(0.5, #fff)) 0 0 no-repeat;
    -webkit-background-size: 290px;
    color: rgba(255, 255, 255, 0.3);
    -webkit-background-clip: text;
    -webkit-animation-name: shine;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    text-shadow: 0 0px 0px rgba(255, 255, 255, 0.5);
}

@-webkit-keyframes shine {
    0%, 10% {
        background-position: -1000px;
    }
    20% {
        background-position: top left;
    }
    90% {
        background-position: top right;
    }
    100% {
        background-position: 1000px;
    }
}



.next span{
    position: relative;
    z-index: 11;
}


.red {
    width: 80px;
    height: 80px;
    background: orangered;
    box-shadow: 0px 0px 10px 5px orangered;
}
.orange {
    left: 10px;
    width: 60px;
    height: 60px;
    background: orange;
    box-shadow: 0px 0px 12px 6px orangered;
}
.gold {
    left: 18px;
    width: 45px;
    height: 45px;
    background: gold;
    box-shadow: 0px 0px 9px 4px orangered;
}
.white {
    left: 22px;
    width: 35px;
    height: 35px;
    background: lightyellow;
    box-shadow: 0px 0px 9px 4px lightyellow;
}

.flame-wrapper {
    position: relative;
    animation: flicker 600ms ease-in infinite;
}
.wrap-deg{
    position: absolute;
    transform: rotate(180deg);
    left: 85%;
    bottom: 25%;
    z-index: 10;
    animation: opacityFlame 400ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 2.8s;
    -moz-animation-delay: 2.8s;
    -o-animation-delay: 2.8s;
    animation-delay: 2.8s;
}

@keyframes opacityFlame {
    from{
        opacity:1;
    }
    to{
        opacity: 0;
    }
}

.flame {
    bottom: 0;
    position: absolute;
    border-radius: 50% 0% 50% 50%;
    transform: rotate(-45deg);
}

@keyframes flicker {
    0% {
        transform: rotate(-1deg);
    }
    20% {
        transform: rotate(2deg) scaleY(1.2);
    }
    40% {
        transform: rotate(-1deg);
    }
    60% {
        transform: rotate(1deg);
    }
    80% {
        transform: rotate(-1deg) scaleY(0.9);
    }
    100% {
        transform: rotate(1deg);
    }
}

.log {
    width: 20px;
    height: 80px;
    filter: blur(1px);
    background: linear-gradient(#e66465, #5d5e55);
    position: absolute;
    z-index: -5;
    top: -20px;
    left: 30px;
}
.log-left {
    transform: rotate(60deg);
}
.log-right {
    transform: rotate(-60deg);
}

.eyes{
    position: absolute;
    display: inline-block;
}

.eyes .eyeRight{
    position: relative;
    left: 0;
    bottom: 20px;
    width: 40px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    transform:rotate(20deg);
}

.eyes span{
    position: absolute;
    width: 20px;
    height: 25px;
    background-color: #000;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    left: 10px;
    top:10px;
    transform:rotate(0deg);
    animation-name: eyePupil;
    animation-fill-mode: forwards;
    animation-duration: 2.5s;
    animation-delay: 500ms;
}

@keyframes eyePupil {
    0%{
       left: 10px;
        top:10px;
        width: 20px;
        height: 25px;
        transform:rotate(0deg);
    }
    35%{
        left:0;
        top:0;
        width: 20px;
        height: 25px;
        transform: rotate(20deg);
    }
    44%{
        left:0;
        top:0;
        width: 20px;
        height: 25px;
        transform: rotate(20deg);
    }
    74%{
        left: 20px;
        top:0;
        width: 20px;
        height: 25px;
        transform:rotate(150deg);
    }
    80%{
        top: 250px;
        left: 10px;
        width: 40px;
        height: 40px;
        transform:rotate(240deg);
    }
    95%{
        top: 25px;
        width: 25px;
        height: 25px;
        left: 10px;
        transform:rotate(240deg);
    }
    100%{
        top: 15px;
        left: 10px;
        width: 25px;
        height: 25px;
        transform:rotate(240deg);
    }
}

.eight{
    animation-name: running;
    animation-fill-mode: forwards;
    animation-duration: 3s;
    animation-delay: 1s;
}

@keyframes running {
    0%{
        transform: translateX(0);
    }
    28%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(250px);
    }
    65%{
        transform: translateX(250px) translateY(0px);
    }
    75%{
        transform: translateY(0px) translateX(250px);
    }
    85%{
        transform:translateX(250px) translateY(1000%);

    }
    100%{
        transform:translateX(250px) translateY(1000%);
    }
}

.eyes .eyeLeft{
    position: relative;
    left: 60px;
    bottom: -30px;
    width: 40px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    transform:rotate(20deg);
}

.eyes i {
    width: 7px;
    height: 7px;
    position: absolute;
    left: 2px;
    top: 10px;
    background-color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    animation-name: scaredPupil;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
}

@keyframes scaredPupil {
    from{
        left: 2px;
        top: 10px;
    }
    to{
        left: 8px;
        top: 10px;
    }
}

.eyes .mouth{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: relative;
    left: 170px;
    bottom: 65px;
    width: 30px;
    height: 20px;
    background-color: #000;
    border-radius: 50%;
    transform:rotate(20deg);
}

.floor{
    position: relative;
    top: 100px;
    width: 600px;
    height: 2px;
    background-color: #fff;
}



.happy-text{
    position: absolute;
    color: white;
    font-family: 'Mountains of Christmas', cursive;
    font-size: 120px;
    animation-name: text-anim;
    animation-delay: 3s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transform: translateY(1000%);
}

.happy-text span{
    font-family: 'Mountains of Christmas', cursive;
    font-size: 120px;
}

@keyframes text-anim {
    from{
        transform: translateY(1000%);
    }
    to{
        transform: translateY(150%);
    }
}

#canvas-countdown{
    animation: shake 0.5s;
    animation-delay: 400ms;
    animation-iteration-count: infinite;
    width: 100%;
    height: 100%;
    background: #222048;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.countdown{
    width: 100%;
    height: 100%;
    display: flex;
flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.countdown-startAnim{
    animation-name: countdownLaunch;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: 200ms;
    transform: translateY(150%);
}

.countdown-finalDays{
    animation-name: countdownLaunchFinal-days;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.countdown-finalHours{
    animation-name: countdownLaunchFinal-hours;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.countdown-finalMinutes{
    animation-name: countdownLaunchFinal-minutes;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.volume{
    position: absolute;
    left:20px;
    top:20px;
    width: 25px;
    height: 25px;
    background: transparent;
    z-index: 99999 !important;
}

.countdown-finalSeconds{
    animation-name: countdownLaunchFinal-seconds;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes countdownLaunchFinal-days{
    0%{
        transform: translateY(0) rotate(0deg) translateX(0);
    }
    70%{
        transform: translateY(0) rotate(-20deg) translateX(0);
    }
    100%{
        transform: translateY(-1000%) rotate(-20deg) translateX(30%);
    }

}

@keyframes countdownLaunchFinal-hours{
    0%{
        transform: translateY(0) rotate(0deg) translateX(0);
    }
    70%{
        transform: translateY(0) rotate(20deg) translateX(0);
    }
    100%{
        transform: translateY(-1000%) rotate(20deg) translateX(50%);
    }

}

.instagram{
    text-decoration: underline;
    color: #A799B7;
    position: absolute;
    bottom: 10px;
    right: 10px;
}


@keyframes countdownLaunchFinal-minutes{
    0%{
        transform: translateY(0) rotate(0deg) translateX(0);
    }
    70%{
        transform: translateY(0) rotate(180deg) translateX(0);
    }
    100%{
        transform: translateY(1000%) rotate(180deg) translateX(-30%);
    }

}

@keyframes countdownLaunchFinal-seconds{
    0%{
        transform: translateY(0) rotate(0deg) translateX(0);
    }
    70%{
        transform: translateY(0) rotate(20deg) translateX(0);
    }
    100%{
        transform: translateY(-1000%) rotate(20deg) translateX(130%);
    }

}


@keyframes countdownLaunch{
    from{
        transform: translateY(150%);
    }
    to{
        transform: translateY(0);
    }
}

.countdown-el{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 150px;
    height: 180px;
    background-color: #242038;
    margin-right: 20px;
    font-size: 40px;
    color: #F7ECE1;
    border: 7px solid #F7ECE1;
}



.countdown-el span{
    font-size: 18px;
    margin-left: 2px;
}

.countdown .wrap-flame{
    position: relative;
    transform: rotate(180deg);
    z-index: 10;
}

.daysFlame{
    left: 20px;
    bottom:-100px;
}

.hoursFlame{
    bottom:-100px;
    left: 5px;
}

.minutesFlame{
    bottom:-100px;
}

.secondsFlame{
    bottom: -100px;
}

.countdown .wrap-flame:nth-child(1){

}

.floor,.behind{
    animation-name: transition-year;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-duration: 1s;
    transform: scale(0);
}


@keyframes transition-year {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}

.phone-warning{
    font-size: 70px;
    color: white;
}

.phone-warning a{
    text-decoration: none;
    color: #659157;
}


/* sky/universe background */
.stars {
    background-color: #f9f9f9;
    border-radius: 5px;
    display: inline-block;
    position: absolute;
}

.s1 {
    height: 1.5px;
    left: 44%;
    top: 16%;
    width: 1.5px;
}

.s2 {
    height: 1.5px;
    left: 77%;
    top: 6%;
    width: 1.5px;
}

.s3 {
    height: 1.5px;
    left: 18%;
    top: 29%;
    width: 1.5px;
}

.s4 {
    height: 1.5px;
    left: 8%;
    top: 97%;
    width: 1.5px;
}

.s5 {
    height: 1.5px;
    left: 87%;
    top: 43%;
    width: 1.5px;
}

.s6 {
    height: 1.5px;
    left: 80%;
    top: 46%;
    width: 1.5px;
}

.s7 {
    height: 1.5px;
    left: 45%;
    top: 12%;
    width: 1.5px;
}

.s8 {
    height: 1.5px;
    left: 45%;
    top: 54%;
    width: 1.5px;
}

.s9 {
    height: 1.5px;
    left: 12%;
    top: 66%;
    width: 1.5px;
}

.s10 {
    height: 1.5px;
    left: 35%;
    top: 5%;
    width: 1.5px;
}

.s11 {
    height: 1.5px;
    left: 94%;
    top: 7%;
    width: 1.5px;
}

.s12 {
    height: 1.5px;
    left: 88%;
    top: 23%;
    width: 1.5px;
}

.s13 {
    height: 1.5px;
    left: 99%;
    top: 32%;
    width: 1.5px;
}

.s14 {
    height: 1.5px;
    left: 93%;
    top: 65%;
    width: 1.5px;
}

.s15 {
    height: 1.5px;
    left: 39%;
    top: 46%;
    width: 1.5px;
}

.s16 {
    height: 1.5px;
    left: 11%;
    top: 67%;
    width: 1.5px;
}

.s17 {
    height: 1.5px;
    left: 48%;
    top: 62%;
    width: 1.5px;

}

.s18 {
    height: 1.5px;
    left: 5%;
    top: 88%;
    width: 1.5px;
}

.s19 {
    height: 1.5px;
    left: 44%;
    top: 55%;
    width: 1.5px;
}

.s20 {
    height: 1.5px;
    left: 89%;
    top: 7%;
    width: 1.5px;
}

.s21 {
    height: 1.5px;
    left: 32%;
    top: 17%;
    width: 1.5px;
}

.s22 {
    height: 1.5px;
    left: 9%;
    top: 75%;
    width: 1.5px;
}

.s23 {
    height: 1.5px;
    left: 71%;
    top: 39%;
    width: 1.5px;
}

.s24 {
    height: 1.5px;
    left: 18%;
    top: 80%;
    width: 1.5px;
}

.s25 {
    height: 1.5px;
    left: 52%;
    top: 87%;
    width: 1.5px;
}

.s26 {
    height: 1.5px;
    left: 75%;
    top: 60%;
    width: 1.5px;
}

.s27 {
    height: 1.5px;
    left: 99%;
    top: 94%;
    width: 1.5px;
}

.s28 {
    height: 1.5px;
    left: 10%;
    top: 69%;
    width: 1.5px;
}

.s29 {
    height: 1.5px;
    left: 14%;
    top: 36%;
    width: 1.5px;
}

.s30 {
    height: 1.5px;
    left: 80%;
    top: 5%;
    width: 1.5px;
}

.s31 {
    height: 1.5px;
    left: 23%;
    top: 98%;
    width: 1.5px;
}

.s32 {
    height: 1.5px;
    left: 67%;
    top: 39%;
    width: 1.5px;
}

.s33 {
    height: 1.5px;
    left: 14%;
    top: 63%;
    width: 1.5px;
}

.s34 {
    height: 1.5px;
    left: 85%;
    top: 35%;
    width: 1.5px;
}

.s35 {
    height: 1.5px;
    left: 69%;
    top: 28%;
    width: 1.5px;
}

.s36 {
    height: 1.5px;
    left: 14%;
    top: 44%;
    width: 1.5px;
}

.s37 {
    height: 1.5px;
    left: 24%;
    top: 19%;
    width: 1.5px;

}

.s38 {
    height: 1.5px;
    left: 53%;
    top: 87%;
    width: 1.5px;
}

.s39 {
    height: 1.5px;
    left: 5%;
    top: 32%;
    width: 1.5px;
}

.s40 {
    height: 1.5px;
    left: 44%;
    top: 87%;
    width: 1.5px;
}

.s41 {
    height: 1.5px;
    left: 75%;
    top: 80%;
    width: 1.5px;
}

.s42 {
    height: 1.5px;
    left: 89%;
    top: 52%;
    width: 1.5px;
}

.s43 {
    height: 1.5px;
    left: 40%;
    top: 62%;
    width: 1.5px;
}

.s44 {
    height: 1.5px;
    left: 55%;
    top: 67%;
    width: 1.5px;
}

.s45 {
    height: 1.5px;
    left: 70%;
    top: 55%;
    width: 1.5px;
}

.s46 {
    height: 1.5px;
    left: 28%;
    top: 77%;
    width: 1.5px;
}

.s47 {
    height: 1.5px;
    left: 76%;
    top: 17%;
    width: 1.5px;
}

.s48 {
    height: 1.5px;
    left: 77%;
    top: 96%;
    width: 1.5px;
}

.s49 {
    height: 1.5px;
    left: 86%;
    top: 32%;
    width: 1.5px;
}

.s50 {
    height: 1.5px;
    left: 16%;
    top: 55%;
    width: 1.5px;
}

.s51 {
    height: 1.5px;
    left: 72%;
    top: 26%;
    width: 1.5px;
}

.s52 {
    height: 1.5px;
    left: 13%;
    top: 33%;
    width: 1.5px;
}

.s53 {
    height: 1.5px;
    left: 30%;
    top: 8%;
    width: 1.5px;
}

.s54 {
    height: 1.5px;
    left: 23%;
    top: 15%;
    width: 1.5px;
}

.s55 {
    height: 1.5px;
    left: 71%;
    top: 58%;
    width: 1.5px;
}

.s56 {
    height: 1.5px;
    left: 93%;
    top: 78%;
    width: 1.5px;
}

.s57 {
    height: 1.5px;
    left: 44%;
    top: 51%;
    width: 1.5px;
}

.s58 {
    height: 1.5px;
    left: 15%;
    top: 14%;
    width: 1.5px;
}

.s59 {
    height: 1.5px;
    left: 16%;
    top: 93%;
    width: 1.5px;
}

.s60 {
    height: 1.5px;
    left: 99%;
    top: 92%;
    width: 1.5px;
}

.s61 {
    height: 1.5px;
    left: 16%;
    top: 86%;
    width: 1.5px;
}

.s62 {
    height: 1.5px;
    left: 72%;
    top: 58%;
    width: 1.5px;
}

.s63 {
    height: 1.5px;
    left: 57%;
    top: 30%;
    width: 1.5px;
}

.s64 {
    height: 1.5px;
    left: 72%;
    top: 36%;
    width: 1.5px;
}

.s65 {
    height: 1.5px;
    left: 41%;
    top: 72%;
    width: 1.5px;
}

.s66 {
    height: 1.5px;
    left: 89%;
    top: 14%;
    width: 1.5px;
}

.s67 {
    height: 1.5px;
    left: 49%;
    top: 67%;
    width: 1.5px;
}

.s68 {
    height: 1.5px;
    left: 62%;
    top: 45%;
    width: 1.5px;
}

.s69 {
    height: 1.5px;
    left: 33%;
    top: 55%;
    width: 1.5px;
}

.s70 {
    height: 1.5px;
    left: 79%;
    top: 32%;
    width: 1.5px;
}

.s71 {
    height: 1.5px;
    left: 48%;
    top: 81%;
    width: 1.5px;
}

.s72 {
    height: 1.5px;
    left: 90%;
    top: 9%;
    width: 1.5px;
}

.s73 {
    height: 1.5px;
    left: 2%;
    top: 58%;
    width: 1.5px;
}

.s74 {
    height: 1.5px;
    left: 88%;
    top: 42%;
    width: 1.5px;
}

.s75 {
    height: 1.5px;
    left: 49%;
    top: 37%;
    width: 1.5px;
}
